.menuDropdown {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & .dropdown {
        display: flex;
        position: absolute;
        left: 0.5px;
        top: 0px;
        width: 100%;
        flex-direction: column;
        background-color: #855D3D;
        border-radius: 12px;

        & .hyperlinks {
            display: flex;
        }
    }
}