@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&family=Poppins:wght@700&display=swap');

.containerMain {
    display: flex;
    flex-direction: column;
    gap: 40px;

    & .containerInputs {
        display: flex;
        flex-direction: column;
        gap: 16px;

        & .inputMessage {
            display: flex;
            height: 150px;
        }

        & .inputForm {
            display: flex;
            padding: 18px;
            background-color: rgba(91, 168, 255, 0.2);
            border-radius: 8px;
            border: 2px transparent;

            &:focus {
                border: 2px solid;
                color: #268bff;
                border-color: rgb(36, 138, 255);
                outline: 0 none;
                box-shadow: 0 1px 1px rgba(36, 138, 255, 0.08) inset,
      0 0 8px rgba(36, 138, 255, 0.6);
            }
        }
    }

    & .ContainerBtn {
        display: flex;
        justify-content: center;
        font-style: normal;
        gap: 120px;

        & button {
            background-color: rgb(36, 138, 255);
            color: white;
            padding: 16px 90px;
            border-radius: 8px;
            border: 2px transparent;
            box-shadow: 2px 2px 5px 1px rgba(36, 138, 255, 0.3);

            &:hover {
                background-color: white;
                color: #268bff;
                border: 2px solid;
                border-color: #268bff;
            }
        }
    }
}